{{#foreach posts from="7" to="10"}}
    <div class="row wow fadeIn mb-50" data-wow-duration=".6s">
        <div class="col-lg-6">
          {{> "post_thumb"}}
        </div>
        <div class="col-lg-6">
          {{> "post_details"}}
        </div>
    </div>
 {{/foreach}}

