{{!< default}}

<!-- Start Single Area -->
<section class="main-content-area section-padding pt-5 clearfix wow fadeIn">
   <div class="container">
      <div class="box-wrapper text-center">
         <h2 class="error-bug">404</h2>
         <p class="error-text">opps, sorry we can not find that pagee!</p>
         <a class="error-btn btn btn-primary" href="{{@blog.url}}">Home</a>
      </div>
   </div>
</section>
<!-- End Single Area -->