{{!< default}}
{{> "page_header"}}
<div class="style-guide-area section-padding pt-5 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="guide-wrapper entry-content">
                    <div class="style-details">
                    {{#post}}
                       {{content}}
                    {{/post}}
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
